<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
<br>
  <h1>Dash Board4</h1>
<!-- <form method="post" action="/update"> -->
  <br>
  <h3>Item description</h3>
  <br>
  <p1>Name: <%- result["Name"] %></p1>
  <br>
  <p2>Details: <%- result["Details"] %></p2>
  <br>
  <p3>email: <%- result["email"] %></p3>
  <br>
  <p4>Have_a_question: <%- result["Have_a_question"] %></p4>
  <br>



<br></br>
<a href="/edit-item?email=<%- result["email"] %>"><button type="button" >Edit</button></a>


</form>
</div>
</body>
</html>
