<!DOCTYPE html>
<html>
<body>

<div style="margin-left:40%">
<br>
  <h1>Dash Board</h1>
<form method="post" action="/update">
  <br>
  <h3>Your Profile</h3>
  <br>
  <p1>firstname: <input type="text" name="firstname" value="<%- result["firstname"] %>"></p1>
  <br>
  <p2>secondname: <input type="text" name="secondname" value="<%- result["secondname"] %>"></p2>
  <br>
  <p3>email: <input type="text" name="email" value="<%- result["email"] %>"></p3>
  <br>
  <p4>password: <input type="text" name="password" value="<%- result["password"] %>"></p4>
  <br>
  <p5>gender: <input type="text" name="gender" value="<%- result["gender"] %>"></p5>
  <br>
  <p6>age: <input type="text" name="age" value="<%- result["age"] %>"></p6>
  <br>



<br></br>
<input type="submit" value="update">


</form>
</div>
</body>
</html>
